---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Web Developer Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="el">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="bg-[#0a0a0a] text-white selection:bg-indigo-500/30">
		<slot />
	</body>
</html>
